/*common css*/
body{
	margin: 0;
	padding: 0;
	font-family: 'playfairDisplay' serif;
	font-size: 16px;
	font-weight: 700;
}
/*common css*/
/*header start*/
header{  
 	padding: 30px 0;
 	background-color: yellow; 
}
.container{
	overflow: hidden;
	margin: 0 auto;
	width: 70%;
}
.logo{
	margin-top: 10px;
	width: 30%;
	float: left;
}
.logo a{
	float: left;
	margin-right: 10px;
}
.logo a img{
	width: 100%;
}
.menu{
	width: 60%;
	float: right;
}
.menu ul{
	float: right;
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	margin: 0 80px;
	display: inline-block;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}
.menu ul li a:hover{
	color: white;
}
.menu ul li a:last-child{
	margin-right: 0;
}
/*header end*/
